
Textbook/Ian Goodfellow, Yoshua Bengio, Aaron Courville - Deep Learning-The MIT Press (2016).pdf
Textbook/Richard O. Duda, Peter E. Hart, David G. Stork - Pattern classification-Wiley (2001).pdf
.DS_Store
