
Textbook
.DS_Store
miscellaneous/Matrix Calculus Derivation and Simple Application - HUPili.pdf
miscellaneous/Properties of the Trace and Matrix Derivatives - Standford - John Duchi.pdf
miscellaneous/github_saenyakorn_2110573-PATT-RECOG main_HW
Slides
Pattern Recognition Syllabus 2024_2.pdf
sandbox.ipynb
2110573 Pattern Recognition.rtf