
Textbook
.DS_Store
miscellaneous/Matrix Calculus Derivation and Simple Application - HUPili.pdf
miscellaneous/Properties of the Trace and Matrix Derivatives - Standford - John Duchi.pdf
miscellaneous/github_saenyakorn_2110573-PATT-RECOG main_HW
Slides
Pattern Recognition Syllabus 2024_2.pdf
sandbox.ipynb
2110573 Pattern Recognition.rtf
HW/HW03/HW3_BeeTheepob.pdf
HW/HW03/HW3_BeeTheepob.ipynb
miscellaneous/github_PoraRee_Pattern-Recognition-main
HW/HW05/dataset
HW/HW05/wandb
HW/HW05/model_cnn.pth.tar
HW/HW05/model_ff.pth.tar
HW/HW05/model_ff_dropout.pth.tar
HW/HW05/model_ff_my_scheduler.pth.tar
HW/HW05/model_gru.pth.tar
HW/HW05/nowcastingHWdataset.tar.gz
/Project
/HW/HW06/__MACOSX
/HW/HW06/large_prepared_data
HW/HW06/large_prepared_data.zip
HW/HW06/part3.pdf
HW/HW06/part1.html
HW/HW06/part1.pdf
HW/HW06/part2.html
HW/HW06/part2.pdf
HW/HW06/part3.html
HW/HW06/pattern2024-hw6-contrastive-loss_2404011414.ipynb
HW/HW06/pattern2024-hw6-contrastive-loss_2404011414.ipynb
HW/HW06/pattern2024-hw6-contrastive-loss_2404011500.ipynb
HW/HW06/pattern2024-hw6-contrastive-loss_2404031144.ipynb
HW/HW06/pattern2024-hw6-contrastive-loss_2404031330.ipynb
HW/HW07/wgan_checkpoint.pth
/HW/HW07/facades
HW/HW07/facades.tar.gz
/HW/HW07/data
HW/HW07/pix2pix_checkpoint.pth
